:root {
  --white: #FFF;
  --black: #111111;
  --dark-blue: #1d2633;
  --purple: #8866D8;
  --blue: #0eb5ff;
  --blue-light: #6b7b92;

  --gradient: linear-gradient(90deg, rgba(136, 102, 216, 1) 0%, rgba(136, 102, 216, 1) 30%, rgba(138, 225, 255, 1) 53%, rgba(14, 181, 255, 1) 100%);

  --font-primary: 'Oswal', sans-serif;
  --font-secondary: 'Roboto', sans-serif;

  --wearable: '218px';
  --phone: '550px';
  --tablet: '768px';
  --landscape: '1024px';
  --monitor: '1200px';
  --tv: '1600px'
}

html {
  font-size: 62.5%;
  ;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-secondary);
  font-size: 1.6rem;
  line-height: 1.5rem;
  background-color: var(--dark-blue);
}

h1,
h2,
h3 {
  font-family: var(--font-primary);
  margin: 1rem 0 4rem 0;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 5.8rem;
}

h3 {
  font-size: 5rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

.btn {
  border-radius: 40px;
  border: 1px solid var(--white);
  color: var(--white);
  height: 5rem;
  margin: 2rem 0;
  padding: .5rem 2rem;
  border: none;
  display: flex;
  align-items: center;
}

.btn-primary {
  background: rgb(136, 102, 216);
  background: linear-gradient(90deg, rgba(136, 102, 216, 1) 0%, rgba(136, 102, 216, 1) 30%, rgba(138, 225, 255, 1) 53%, rgba(14, 181, 255, 1) 100%);
}

.btn-secondary {
  border: .2rem solid var(--white);
}

.btn:hover {
  background-color: var(--white);
  color: var(--dark-blue);
  transition: background-color .3s;
}

/** Utilities **/
.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 5rem;
}

.gradient {
  background: rgb(136, 102, 216);
  background: linear-gradient(90deg, rgba(136, 102, 216, 1) 0%, rgba(136, 102, 216, 1) 30%, rgba(138, 225, 255, 1) 53%, rgba(14, 181, 255, 1) 100%);
}

/* HEADER */
header {
  padding-top: 5rem;
}

.header__grid {
  display: flex;
  flex-direction: column;
  align-items: center;

}

@media (min-width: 550px) {
  .header__grid {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* SOCIAL NETWORKS */
.social-networks {
  margin: 5rem 0;
  display: flex;
}

.social-networks__accesible {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  display: block;
}

.social-networks__link::before {
  content: '';
  padding: 2rem;
  display: inline-block;
}

.social-networks__link[href*="facebook.com"]::before {
  background-image: url(../scr/img/icono_facebook.svg);
}

.social-networks__link[href*="instagram.com"]::before {
  background-image: url(../scr/img/icono_instagram.svg);
}

.social-networks__link[href*="youtube.com"]::before {
  background-image: url(../scr/img/icono_youtube.svg);
}

.social-networks__link[href*="x.com"]::before {
  background-image: url(../scr/img/icono_twitter.svg);
}

/* NAVIGATION */
.navigation {
  background-color: var(--dark-blue);
  padding: 2rem;
  margin: 2rem 0;
  position: sticky;
  top: 0;
  z-index: 20;
}

.navigation__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 11;
}

.navigation__link {
  color: var(--white);
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

.navigation__link:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 550px) {
  .navigation__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .navigation__link {
    margin-bottom: 0;
  }
}

/* MAIN SECTION */
main {
  margin: 2rem auto;
  max-width: 40rem;
}

.profile__title {
  background: var(--gradient);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 4rem;
  line-height: 6rem;
  width: 100%;
  margin-bottom: 0;
}

.profile__sub-title {
  color: var(--white);
  font-size: 4.5rem;
  margin: 1rem 0;
  line-height: 1;
}

.profile__text {
  color: var(--blue-light);
  margin: 3rem 0;
  line-height: 1.5;
}

picture {
  position: relative;
}

.profile__img {
  border-radius: 50%;
  border: 5px solid var(--purple);
  position: relative;
  margin-bottom: 6rem;
  z-index: 10;
}

.circle {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  background: var(--gradient);
  position: absolute;
  top: 20rem;
  right: 5rem;
}

@media (min-width: 550px) {
  body {
    background-color: var(--blue);
  }
}

@media (min-width: 768px) {
  body {
    background-color: var(--blue-light);
  }
}

/* PROYECTS */
.proyects-cards {
  margin-top: 5rem;
  color: var(--white)
}

.proyects-cards__heading::after {
  content: '';
  display: block;
  height: 1rem;
  width: 15rem;
  margin-top: 3rem;
  background-image: linear-gradient(to right, var(--blue) 0%, var(--blue) 50%, var(--purple) 50%, var(--purple) 100%);
}

.proyects-cards__grid {
  display: grid;
  gap: 2rem;
}

.proyect-card {
  border: .25rem solid var(--purple);
  border-radius: 15px;
  padding: 3rem 3rem 1rem 3rem;
}

.proyect-card__image {
  aspect-ratio: 10/6;
  background-size: cover;
}

.proyect-card:nth-child(1) .proyect-card__image {
  background-image: url(../scr/img/propiedad_1.jpg);
}

.proyect-card:nth-child(2) .proyect-card__image {
  background-image: url(../scr/img/propiedad_2.jpg);
}

.proyect-card:nth-child(3) .proyect-card__image {
  background-image: url(../scr/img/propiedad_3.jpg);
}

.proyect-card:nth-child(4) .proyect-card__image {
  background-image: url(../scr/img/propiedad_4.jpg);
}

.proyect-card:nth-child(5) .proyect-card__image {
  background-image: url(../scr/img/propiedad_5.jpg);
}

.proyect-card:nth-child(6) .proyect-card__image {
  background-image: url(../scr/img/propiedad_6.jpg);
}

.proyect-card__name {
  color: var(--white);
  font-size: 4.5rem;
  margin: 1rem 0;
  font-weight: 400;
  margin: 4rem 0;
}

.proyect-card__text {
  color: var(--blue-light);
  line-height: 1.5;
}

.proyect-card__links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
}

@media (min-width: 550px) {
  .proyects-cards__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .proyects-cards__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* COSULT */
.consult {
  background-image: url(../scr/img/blog_1.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 5rem 0;
}

.consult__heading {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
  color: var(--white);
}

.consult__heading::after {
  content: '';
  display: block;
  height: 1rem;
  width: 15rem;
  margin-top: 3rem;
  background-image: linear-gradient(to right, var(--blue) 0%, var(--blue) 50%, var(--purple) 50%, var(--purple) 100%);
}

.consult__text {
  max-width: 60rem;
  line-height: 1.5;
  text-align: center;
  color: var(--white);
}

.consult__link {
  max-width: 13rem;
}

/* TIMELINE */
.timeline {
  margin-top: 5rem;
}

.timeline__heading {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
  color: var(--white);
}

.timeline__heading::after {
  content: '';
  display: block;
  height: 1rem;
  width: 15rem;
  margin-top: 3rem;
  background-image: linear-gradient(to right, var(--blue) 0%, var(--blue) 50%, var(--purple) 50%, var(--purple) 100%);
}

.timeline__grid {
  display: grid;
  grid-template-columns: repeat(4, 30rem);
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.event {
  scroll-snap-align: center;
  margin-top: 5rem;
  position: relative;
}

.event::before {
  content: '';
  position: absolute;
  width: 100%;
  height: .3rem;
  background-color: var(--white);
  top: 6rem;
}

.event::after {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: var(--blue);
  top: 5.2rem;
  border-radius: 50%;
}

.event__year {
  font-size: 3rem;
  color: var(--white);
  padding: 1rem;
}

.event__text {
  margin-top: 6rem;
  color: var(--blue-light);
  line-height: 1.5;
  padding: 1.5rem 3rem;
}

@media (min-width: 550px) {}

@media (min-width: 768px) {
  .timeline__grid {
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
  }
}

/* FOOTER */
.footer {
  padding-top: 5rem;
  margin-top: 5rem;
}

/* .footer__grid {} */

.footer__heading {
  color: var(--white);
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.footer__text {
  color: var(--blue-light);
  line-height: 1.5;
}

.footer__navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__link {
  color: var(--white);
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.footer__link:last-of-type {
  margin-bottom: 0;
}

.footer__copyright {
  background-color: var(--blue-light);
  color: #FFF;
  text-align: center;
  padding: 1rem;
  margin: 5rem 0 0 0;
}